

<ion-content>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>herramientas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      
      
      <ion-button (click)="salir()">
        Salir
      </ion-button>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title color="primary">Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> bienvenido {{name()}} <br>

      <ion-item>
        <ion-card style="width:25%;">
        <img alt="Silhouette of mountains" src="/assets/img/istockphoto-1337844283-612x612.jpg"/>
        <ion-card-header>
          <ion-card-title>Arquitectura_003D</ion-card-title>
          <ion-card-subtitle>2024_2_SJ_ASY4131_24229156_PCT</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Porfavor seleccione fecha</p>
          <ion-list>
            <ion-item>
              <p>Fecha asistencia</p>
              <ion-select aria-label="asistencia" (ionChange)="onFechaSeleccionadaA($event)" value="">
                <ion-select-option value="04">04/11/24</ion-select-option>
                <ion-select-option value="11">11/11/24</ion-select-option>
                <ion-select-option value="18">18/11/24</ion-select-option>
                <ion-select-option value="25">25/11/24</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button (click)="mensajeA()">
            Mostrar QR Asignatura
          </ion-button> <br>
        Cursando | 24 Alumnos 
        </ion-card-content>
      </ion-card>

      <ion-card style="width:30%;">
        <img alt="Silhouette of mountains" src="/assets/img/istockphoto-1444128859-612x612.jpg" />
        <ion-card-header>
          <ion-card-title>Calidad de Software_001D</ion-card-title>
          <ion-card-subtitle>2024_2_SJ_CSY4111_24229166_PCT</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Porfavor seleccione fecha</p>
          <ion-list>
            <ion-item>
              <p>Fecha asistencia</p>
              <ion-select aria-label="asistencia" (ionChange)="onFechaSeleccionadaC($event)" value="">
                <ion-select-option value="06">06/11/24</ion-select-option>
                <ion-select-option value="13">13/11/24</ion-select-option>
                <ion-select-option value="20">20/11/24</ion-select-option>
                <ion-select-option value="27">27/11/24</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button (click)="mensajeC()">
            Mostrar QR Asignatura
          </ion-button> <br>
        Cursando | 26 Alumnos
        </ion-card-content>
      </ion-card>

      <ion-card style="width:30%;">
        <img alt="Silhouette of mountains" src="/assets/img/istockphoto-1386341272-612x612.jpg"/>
        <ion-card-header>
          <ion-card-title>Programacion de Aplicaciones Moviles_005D</ion-card-title>
          <ion-card-subtitle>2024_2_SJ_PGY4121_24229158_PCT</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Porfavor seleccione fecha</p>
          <ion-list>
            <ion-item>
              <p>Fecha asistencia</p>
              <ion-select aria-label="asistencia" (ionChange)="onFechaSeleccionadaM($event)" value="">
                <ion-select-option value="08">08/11/24</ion-select-option>
                <ion-select-option value="15">15/11/24</ion-select-option>
                <ion-select-option value="22">22/11/24</ion-select-option>
                <ion-select-option value="29">29/11/24</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-button (click)="mensajeP()">
            Mostrar QR Asignatura
          </ion-button> <br>
          Cursando | 29 Alumnos
        </ion-card-content>
      </ion-card>
    </ion-item>
    </ion-content>
  </div>

  
</ion-content>

